.gitignore

# Linux
*.swp
*~
build
CMake*
Makefile
*.cmake
test.h

# Visual Studio
*.suo
*.sdf
*.opensdf 
*.VC.db
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
stdint.h
stdint.h.bak
Debug
Release
!third_party/lib/Debug
!third_party/lib/Release
