.gitignore

# Linux
*.swp
*~
build
CMake*
Makefile
*.cmake
test.h

# Visual Studio
*.suo
*.sdf
*.opensdf 
*.vcxproj.filters
*.vcxproj.user
Debug
Release
!third_party/lib/Debug
!third_party/lib/Release
